<div class="grid-item">
    {% if projects.redirect %}
    <a href="{{ projects.redirect }}" target="_blank">
    {% else %}
    <a href="{{ projects.url | relative_url }}">
    {% endif %}
      <div class="card hoverable">
        {% if projects.img %}
        <img src="{{ projects.img | relative_url }}" alt="projects thumbnail">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title text">{{ projects.title }}</h4>
          <p class="card-text">{{ projects.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {% if projects.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ projects.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {% if projects.github_stars %}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ projects.github_stars }}-stars"></span>
              </span>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </a>
  </div>
  